{
  "presets": ["@babel/preset-env"],
  "plugins": [
//    [
//       "imports",
//      {
//        "library": "lodash"
//      },
//      "syntax-decorators"
//    ]
    ["import-custom", {
      "libraryName": "iview",
      "libraryDirectory": "src/components",
      "load": "auto"
    }]
  ]
}