{
  "presets": ["@babel/preset-env"],
  "plugins": [
//    [
//       "imports",
//      {
//        "library": "lodash"
//      },
//      "syntax-decorators"
//    ]
//    ["import", {
//      "libraryName": "iview",
//      "libraryDirectory": "src/components"
//    }]
  ]
}